body{
    background-image: url('./hinh nen web.jpg');
    background-repeat: no-repeat;
    background-size: cover  ;
}

h1{
    text-align: center;
    font-family: 'Crimson Text', serif;
    font-style: italic ;
    color: skyblue;
    font-size: 35px;
}
/*bla*/
/*bla*/
ol{
    text-align: center;
    font-family: 'Crimson Text', serif;
    color: skyblue;
    font-size: 27px;
}


